In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.insert(0, '..')
from DataModule.Data_Preparation import CoronnaCERTAINDataset

In [2]:
dataset = CoronnaCERTAINDataset(
    library_root= '/Users/gaskell/Dropbox/Mac/Desktop/Autoimmune_Disease/Code/ML_RA_EHR/Dataset/',
    challenge = "classification",
    dataset = 'CORRONA CERTAIN',
    process_approach = 'SC',
    imputation = None,
    patient_group = 'bionaive TNF',
    drug_group= 'all',
    save_csv=False)

In [3]:
train = dataset.get_train()

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 348
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UNMC_id            349 non-null    object
 1   grp                349 non-null    object
 2   CDate              349 non-null    object
 3   age                348 non-null    float64
 4   gender             348 non-null    object
 5   final_education    346 non-null    object
 6   race_grp           349 non-null    object
 7   ethnicity          341 non-null    float64
 8   weight             348 non-null    float64
 9   BMI                348 non-null    float64
 10  height             349 non-null    float64
 11  newsmoker          338 non-null    object
 12  smkyrs             84 non-null     float64
 13  numcigs            74 non-null     float64
 14  drinker            344 non-null    object
 15  drinksperwk        344 non-null    float64
 16  duration_ra        349 non-null    float64
 17  ara_func_class     348 non-null    object
 18  num_tnf            349 non-null    float64
 19  num_nontnf         349 non-null    float64
 20  ndmardused         349 non-null    float64
 21  rfstatus_b         349 non-null    float64
 22  rfstatus_impute    1 non-null      float64
 23  usresultsRF        347 non-null    float64
 24  ccpstatus_b        349 non-null    float64
 25  ccpstatus_impute   10 non-null     float64
 26  usresultsCCP3      336 non-null    float64
 27  hxmi               349 non-null    float64
 28  hxunstab_ang       349 non-null    float64
 29  hxchf              349 non-null    float64
 30  hxother_cv         349 non-null    float64
 31  hxtia              349 non-null    float64
 32  hxstroke           349 non-null    float64
 33  hxcopd             349 non-null    float64
 34  hxhtn              349 non-null    float64
 35  hxdiabetes         349 non-null    float64
 36  hxhld              349 non-null    float64
 37  hx_anycancer       349 non-null    float64
 38  seatedbp1          347 non-null    float64
 39  seatedbp2          347 non-null    float64
 40  pres_mtx           349 non-null    float64
 41  pres_arava         349 non-null    float64
 42  pres_azulfidine    349 non-null    float64
 43  pres_plaquenil     349 non-null    float64
 44  pres_imuran        349 non-null    float64
 45  pres_minocin       349 non-null    float64
 46  pres_pred          349 non-null    float64
 47  nonpresNSAIDs_use  349 non-null    float64
 48  NSAIDs_use         349 non-null    float64
 49  statin_use         0 non-null      float64
 50  tender_jts_28      349 non-null    float64
 51  swollen_jts_28     349 non-null    float64
 52  md_global_assess   346 non-null    float64
 53  pt_global_assess   345 non-null    float64
 54  di                 345 non-null    float64
 55  pt_pain            345 non-null    float64
 56  usresultsCRP       347 non-null    float64
 57  usresultsIgA       339 non-null    float64
 58  usresultsIgG       339 non-null    float64
 59  usresultsIgM       339 non-null    float64
 60  DAS28_CRP_0M       343 non-null    float64
 61  3MResponse         349 non-null    object
dtypes: float64(52), object(10)
memory usage: 171.8+ KB

In [5]:
train.describe()

,age,ethnicity,weight,BMI,height,smkyrs,numcigs,drinksperwk,duration_ra,num_tnf,...,swollen_jts_28,md_global_assess,pt_global_assess,di,pt_pain,usresultsCRP,usresultsIgA,usresultsIgG,usresultsIgM,DAS28_CRP_0M
count,348.000000,341.000000,348.000000,348.000000,349.000000,84.000000,74.000000,344.000000,349.000000,349.0,...,349.000000,346.000000,345.000000,345.000000,345.000000,347.000000,339.000000,339.000000,339.000000,343.000000
mean,55.428161,0.935484,184.123563,29.795251,65.830946,24.440476,14.702703,2.964438,4.518625,0.0,...,8.223496,52.890173,50.962319,0.555124,51.724638,10.881585,248.820059,1111.943953,113.926254,4.855432
std,12.364913,0.246031,46.818482,6.801495,3.734364,17.241971,7.548437,7.403984,6.162346,0.0,...,5.841923,18.758405,24.184640,0.499380,27.114252,18.431102,121.205948,367.183080,85.391080,1.099412
min,22.000000,0.000000,90.000000,15.790039,59.000000,0.000000,4.000000,0.000000,0.000000,0.0,...,0.000000,5.000000,0.000000,0.000000,0.000000,0.140000,24.000000,483.000000,20.000000,2.040967
25%,48.000000,1.000000,152.000000,25.229736,63.000000,9.500000,10.000000,0.000000,1.000000,0.0,...,4.000000,40.000000,30.000000,0.125000,25.000000,1.490000,166.500000,867.000000,63.000000,4.112793
50%,56.000000,1.000000,177.000000,28.730513,65.000000,27.000000,11.000000,0.000000,2.000000,0.0,...,7.000000,50.000000,50.000000,0.500000,55.000000,4.360000,223.000000,1050.000000,93.000000,4.788376
75%,64.000000,1.000000,212.000000,33.650364,68.000000,36.000000,20.000000,2.000000,6.000000,0.0,...,12.000000,70.000000,70.000000,0.875000,75.000000,11.915000,309.500000,1290.000000,140.000000,5.579612
max,89.000000,1.000000,415.000000,50.675390,80.000000,69.000000,40.000000,70.000000,42.000000,0.0,...,28.000000,100.000000,100.000000,2.125000,100.000000,185.150000,946.000000,3200.000000,858.000000,8.363831

In [6]:
test = dataset.get_test()

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UNMC_id            86 non-null     object
 1   grp                86 non-null     object
 2   CDate              86 non-null     object
 3   age                86 non-null     float64
 4   gender             86 non-null     object
 5   final_education    86 non-null     object
 6   race_grp           86 non-null     object
 7   ethnicity          84 non-null     float64
 8   weight             86 non-null     float64
 9   BMI                86 non-null     float64
 10  height             86 non-null     float64
 11  newsmoker          83 non-null     object
 12  smkyrs             22 non-null     float64
 13  numcigs            21 non-null     float64
 14  drinker            85 non-null     object
 15  drinksperwk        85 non-null     float64
 16  duration_ra        86 non-null     float64
 17  ara_func_class     86 non-null     object
 18  num_tnf            86 non-null     float64
 19  num_nontnf         86 non-null     float64
 20  ndmardused         86 non-null     float64
 21  rfstatus_b         86 non-null     float64
 22  rfstatus_impute    0 non-null      float64
 23  usresultsRF        86 non-null     float64
 24  ccpstatus_b        86 non-null     float64
 25  ccpstatus_impute   1 non-null      float64
 26  usresultsCCP3      85 non-null     float64
 27  hxmi               86 non-null     float64
 28  hxunstab_ang       86 non-null     float64
 29  hxchf              86 non-null     float64
 30  hxother_cv         86 non-null     float64
 31  hxtia              86 non-null     float64
 32  hxstroke           86 non-null     float64
 33  hxcopd             86 non-null     float64
 34  hxhtn              86 non-null     float64
 35  hxdiabetes         86 non-null     float64
 36  hxhld              86 non-null     float64
 37  hx_anycancer       86 non-null     float64
 38  seatedbp1          86 non-null     float64
 39  seatedbp2          86 non-null     float64
 40  pres_mtx           86 non-null     float64
 41  pres_arava         86 non-null     float64
 42  pres_azulfidine    86 non-null     float64
 43  pres_plaquenil     86 non-null     float64
 44  pres_imuran        86 non-null     float64
 45  pres_minocin       86 non-null     float64
 46  pres_pred          86 non-null     float64
 47  nonpresNSAIDs_use  86 non-null     float64
 48  NSAIDs_use         86 non-null     float64
 49  statin_use         0 non-null      float64
 50  tender_jts_28      86 non-null     float64
 51  swollen_jts_28     86 non-null     float64
 52  md_global_assess   86 non-null     float64
 53  pt_global_assess   86 non-null     float64
 54  di                 86 non-null     float64
 55  pt_pain            86 non-null     float64
 56  usresultsCRP       86 non-null     float64
 57  usresultsIgA       77 non-null     float64
 58  usresultsIgG       77 non-null     float64
 59  usresultsIgM       77 non-null     float64
 60  DAS28_CRP_0M       86 non-null     float64
 61  3MResponse         86 non-null     object
dtypes: float64(52), object(10)
memory usage: 42.3+ KB

In [8]:
train['gender'].value_counts()

female    269
male       79
Name: gender, dtype: int64

In [9]:
train[train['gender'] == 2]

Empty DataFrame
Columns: [UNMC_id, grp, CDate, age, gender, final_education, race_grp, ethnicity, weight, BMI, height, newsmoker, smkyrs, numcigs, drinker, drinksperwk, duration_ra, ara_func_class, num_tnf, num_nontnf, ndmardused, rfstatus_b, rfstatus_impute, usresultsRF, ccpstatus_b, ccpstatus_impute, usresultsCCP3, hxmi, hxunstab_ang, hxchf, hxother_cv, hxtia, hxstroke, hxcopd, hxhtn, hxdiabetes, hxhld, hx_anycancer, seatedbp1, seatedbp2, pres_mtx, pres_arava, pres_azulfidine, pres_plaquenil, pres_imuran, pres_minocin, pres_pred, nonpresNSAIDs_use, NSAIDs_use, statin_use, tender_jts_28, swollen_jts_28, md_global_assess, pt_global_assess, di, pt_pain, usresultsCRP, usresultsIgA, usresultsIgG, usresultsIgM, DAS28_CRP_0M, 3MResponse]
Index: []

[0 rows x 62 columns]

In [10]:
train['ethnicity'].value_counts()

1.0    319
0.0     22
Name: ethnicity, dtype: int64

In [11]:
test['gender'].value_counts()

female    64
male      22
Name: gender, dtype: int64

In [12]:
test['ethnicity'].value_counts()

1.0    76
0.0     8
Name: ethnicity, dtype: int64

In [13]:
train[train['ethnicity'] == 2.0]

Empty DataFrame
Columns: [UNMC_id, grp, CDate, age, gender, final_education, race_grp, ethnicity, weight, BMI, height, newsmoker, smkyrs, numcigs, drinker, drinksperwk, duration_ra, ara_func_class, num_tnf, num_nontnf, ndmardused, rfstatus_b, rfstatus_impute, usresultsRF, ccpstatus_b, ccpstatus_impute, usresultsCCP3, hxmi, hxunstab_ang, hxchf, hxother_cv, hxtia, hxstroke, hxcopd, hxhtn, hxdiabetes, hxhld, hx_anycancer, seatedbp1, seatedbp2, pres_mtx, pres_arava, pres_azulfidine, pres_plaquenil, pres_imuran, pres_minocin, pres_pred, nonpresNSAIDs_use, NSAIDs_use, statin_use, tender_jts_28, swollen_jts_28, md_global_assess, pt_global_assess, di, pt_pain, usresultsCRP, usresultsIgA, usresultsIgG, usresultsIgM, DAS28_CRP_0M, 3MResponse]
Index: []

[0 rows x 62 columns]

In [14]:
train['drinker'].value_counts()

not    185
yes    159
Name: drinker, dtype: int64

In [15]:
train['race_grp'].value_counts()

White              305
Black               23
Asian                7
Mixed Race           5
Unknown              5
Native American      3
Other                1
Name: race_grp, dtype: int64

In [16]:
train['newsmoker'].value_counts()

never       154
previous     96
current      88
Name: newsmoker, dtype: int64